// Place all the styles related to the api/pokemon controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.flex-center {
  display: flex;
  justify-content: center;
}

.page {
  display: grid;
  grid-template-columns: 300px 1fr;
}

.index-item {
  margin: 0 10px;
  display: flex;
  align-items: center;

  img {
    width: 20px;
    height: 20px;
    margin: 0 10px;
  }
}

hr {
  margin: 5px 0;
}

#detail {
  background: grey;
  color: black;
  border: 5px solid black;
  border-radius: 20px;
  margin: 10px 30px;
}

.poke-img {
  background: orange;
}