// Place all the styles related to the api/pokemon controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}

.scroll {
  height: 100vh;
  overflow: scroll;
}

.page {
  display: grid;
  grid-template-columns: 300px 1fr;
}

.index-item {
  margin: 0 10px;
  display: flex;
  align-items: center;

  img {
    width: 20px;
    height: 20px;
    margin: 0 10px;
  }
}

hr {
  width: 90%;
  margin: 5px 0;
}

.detail {
  flex-direction: column;
  background: grey;
  color: black;
  border: 5px solid black;
  border-radius: 20px;
  margin: 10px 30px;
  min-height: 100vh;

  .poke-img {
    width: 90%;
    margin: 30px 20px;
    background: linear-gradient(135deg, yellow, rgb(255, 94, 0));

    img {
      height: 380px;
      margin: 20px;
    }
  }

  h1, h2 {
    margin: 10px 0;
    text-transform: capitalize;
    text-align: center;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 18px;
    font-weight: 400;
  }

  form {
    background: white;
    width: 75%;
    padding: 20px;
    font-size: 16px;
    border-radius: 10px;

    input, select, button, div {
      width: 90%;
      padding-top: 35px;
      font-size: inherit;
    }

    input {
      border: none;
      outline: none;
    }

    select {
      border: none;
      background: white;
      outline: none;
      width: 100%;
    }

    button {
      text-align: center;
      padding: 10px;
      margin-top: 20px;
      background: #d43316;
      color: white;
    }
  }
}

#items {
  background: white;
  margin: 20px 0;

  h1 {
    text-align: center;
    font-size: 24px;
  }

  #items-wrapper {
    margin: 10px;
    padding: 20px;

    .item-box {
      padding: 5px;

      img {
        height: 155px;
      }
    }

    .item-box:hover {
      box-shadow: 5px 10px 18px #888888;
    }

  }
}

.poke-img, #items, #items-wrapper {
  border: 3px solid black;
  border-radius: 5px;
}

#form-section {
  justify-content: flex-start;

  ul {
    padding: 20px;

    li {
      margin: 2px;
      font-size: 14px;
    }
  }
}

#poke-logo {
  margin: 30px;
  padding: 0;
}